$main-primary: #4f96ffff;
$main-secondary: #212b3dff;
$main-accent: #ffff8dff;
$main-white: #ffffffff;
$main-black: #23242cff;

$main-variations-100: #3c72c2ff;
$main-variations-40: #82b4ffff;
$main-variations-20: #d8e8ffff;
$main-variations-10: #f1f7ffff;

$neutrals-100-dark: #1a202bff;
$neutrals-90-dark: #333f56ff;
$neutrals-80-dark: #485264ff;
$neutrals-70-dark: #5b6577ff;
$neutrals-60-dark: #737d8dff;
$neutrals-50: #8e97a3ff;
$neutrals-40-light: #b9bec4ff;
$neutrals-30-light: #d9dde2ff;
$neutrals-20-light: #e8edf4ff;
$neutrals-10-light: #f1f5f9ff;
$neutrals-5-light: #f7f8faff;

$fatic-error: #d13b3bff;
$fatic-error-light: #fff7f7ff;
$fatic-success: #5cbc6aff;
$fatic-success-light: #f8ffeeff;
$fatic-warning-light: #fefbe8ff;
$fatic-warning: #e0914bff;
$fatic-info: #384fe3ff;

$alternative-pink-d: #ecdcdcff;
$alternative-pink-l: #f4e6e6ff;
$alternative-green-d: #c7e0bfff;
$alternative-green-l: #e3efdeff;
$alternative-pearl-d: #e5ecf5ff;
$alternative-pearl-l: #f0f5fcff;
$alternative-purple-d: #e0daf0ff;
$alternative-purple-l: #eeeaf7ff;

$bg-dots-petrol-10: #f0f5fcff;
$bg-edit-dark: #333f56ff;
