/// The value used to prefix selectors and CSS Custom Properties across the
/// codebase
/// @type String
/// @example --bb--color-primary
$prefix: 'bb' !default;

/// If true, includes font face mixins in `_css--font-face.scss` depending on the `css--plex` feature flag
/// @type Bool
$css--font-face: true !default;

/// If true, include reset CSS
/// @type Bool
$css--reset: true !default;

/// If true, include default type
/// @type Bool
$css--default-type: true !default;

/// Default font size
/// @type Number
$css--base-font-size: 16px !default;


/// Default mini-unit value
/// @type Number
$css--mini-unit-size: 8px !default;
