@import './motion/mixins';

$fast-01: 70ms !default;
$fast-02: 110ms !default;
$moderate-01: 150ms !default;
$moderate-02: 240ms !default;
$slow-01: 400ms !default;
$slow-02: 700ms !default;

/// @type Duration
$duration-fast-01: $fast-01;

/// @type Duration
$duration-fast-02: $fast-02;

/// @type Duration
$duration-moderate-01: $moderate-01;

/// @type Duration
$duration-moderate-02: $moderate-02;

/// @type Duration
$duration-slow-01: $slow-01;

/// @type Duration
$duration-slow-02: $slow-02;

/// Used primarily for removing elements from the screen
/// @type Function
$ease-in: cubic-bezier(0.25, 0, 1, 1);

/// Used for adding elements to the screen or changing on-screen states at a user's input
/// @type Function
$ease-out: cubic-bezier(0, 0, 0.25, 1);

/// Used for the majority of animations
/// @type Function
$standard-easing: cubic-bezier(0.5, 0, 0.1, 1);

/// Base transition duration
/// @type Number
$transition--base: 250ms;

/// Expansion duration
/// @type Number
$transition--expansion: 300ms;

/// Default ease-in for components
/// @type Function
$ease-in: cubic-bezier(0, 0, 0.38, 0.9);

/// Default ease-out for components
/// @type Function
$ease-out: cubic-bezier(0.2, 0, 1, 0.9);

/// Default easing for components
/// @type Function
$standard-easing: cubic-bezier(0.2, 0, 0.38, 0.9);

/// @alias duration--fast-02
$transition--base: $duration-fast-02;

/// @alias duration--moderate-02
$transition--expansion: $duration-moderate-02;
