/// Map deep get
/// @author Hugo Giraudel
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Key chain
/// @return {*} Desired value
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

/// Provide a map and index, and get back the relevant key value
/// @param {Map} $map - Map
/// @param {Integer} $index - Key chain
/// @return {String} Desired value
@function key-by-index($map, $index) {
  $keys: map-keys($map);
  @return nth($keys, $index);
}

/// Pass in a map, and get the last one in the list back
/// @param {Map} $map - Map
/// @return {*} Desired value
@function last-map-item($map) {
  $total-length: length($map);
  @return map-get($map, key-by-index($map, $total-length));
}
