/// Resets default browser styling
@mixin component-reset {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
